<h1>Soccer Products</h1>
<% @products.each do |product| %>
  <img src="<%= product.images[0].url%>" width=300>
  <h3> Product: <%= product.name %> </h3>
  <p> Price: <%= product.price %> </p>
  <p> Description: <%= product.description %></p>
<% end %>