<!DOCTYPE html>
<html>
  <head>
    <title>Soccer Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body style="background-color: lightblue;">
  <a href="/products">All products</a>
  <a href="/products/new">Create a new product</a>
    <%= yield %>
  </body>
</html>
